/* CSS HEX */
--mint-cream: #eff9f0ff;
--champagne-pink: #ddc8c4ff;
--deep-taupe: #896a67ff;
--eggplant: #6b4d57ff;
--xiketic: #13070cff;

/* CSS HSL */
--mint-cream: hsla(126, 45%, 96%, 1);
--champagne-pink: hsla(10, 27%, 82%, 1);
--deep-taupe: hsla(5, 14%, 47%, 1);
--eggplant: hsla(340, 16%, 36%, 1);
--xiketic: hsla(335, 46%, 5%, 1);

/* SCSS HEX */
$mint-cream: #eff9f0ff;
$champagne-pink: #ddc8c4ff;
$deep-taupe: #896a67ff;
$eggplant: #6b4d57ff;
$xiketic: #13070cff;

/* SCSS HSL */
$mint-cream: hsla(126, 45%, 96%, 1);
$champagne-pink: hsla(10, 27%, 82%, 1);
$deep-taupe: hsla(5, 14%, 47%, 1);
$eggplant: hsla(340, 16%, 36%, 1);
$xiketic: hsla(335, 46%, 5%, 1);

/* SCSS RGB */
$mint-cream: rgba(239, 249, 240, 1);
$champagne-pink: rgba(221, 200, 196, 1);
$deep-taupe: rgba(137, 106, 103, 1);
$eggplant: rgba(107, 77, 87, 1);
$xiketic: rgba(19, 7, 12, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #eff9f0ff, #ddc8c4ff, #896a67ff, #6b4d57ff, #13070cff);
$gradient-right: linear-gradient(90deg, #eff9f0ff, #ddc8c4ff, #896a67ff, #6b4d57ff, #13070cff);
$gradient-bottom: linear-gradient(180deg, #eff9f0ff, #ddc8c4ff, #896a67ff, #6b4d57ff, #13070cff);
$gradient-left: linear-gradient(270deg, #eff9f0ff, #ddc8c4ff, #896a67ff, #6b4d57ff, #13070cff);
$gradient-top-right: linear-gradient(45deg, #eff9f0ff, #ddc8c4ff, #896a67ff, #6b4d57ff, #13070cff);
$gradient-bottom-right: linear-gradient(135deg, #eff9f0ff, #ddc8c4ff, #896a67ff, #6b4d57ff, #13070cff);
$gradient-top-left: linear-gradient(225deg, #eff9f0ff, #ddc8c4ff, #896a67ff, #6b4d57ff, #13070cff);
$gradient-bottom-left: linear-gradient(315deg, #eff9f0ff, #ddc8c4ff, #896a67ff, #6b4d57ff, #13070cff);
$gradient-radial: radial-gradient(#eff9f0ff, #ddc8c4ff, #896a67ff, #6b4d57ff, #13070cff);

/* FONT FAMILY */
font-family: 'Hind', sans-serif;
font-family: 'Lobster', cursive;

body {
    background-color: #DDC8C4;
    font-family: 'Hind', sans-serif;
}

h1 {
    font-family: 'Lobster', cursive;
    color: #13070cff;
}
h2  {
    font-family: 'Hind', sans-serif;
    color: #13070cff;
}

h1.page_titles  {
    margin: 0px auto 0px auto;
    color: #13070cff;
}

p, h3 {
    font-family: 'Hind', sans-serif;
    color: #13070cff;
}

address {
    font-family: 'Hind', sans-serif;
    font-style: normal;
    text-align: center;
    padding-top: 10px;
}

a   {
    text-decoration: none !important;
    color: white;
    padding: 3px 8px 3px 8px;
}

a:hover {
    background-color: rgba(137, 106, 103, 1);
    border: 2px solid rgba(106, 77, 87);
    box-shadow: 5px 5px rgba(19, 7, 12, 20%);
    color:white;
    border-radius: 5px;
    
}

a.otherlinks    {
 /*   text-decoration: none !important;*/
    color: rgba(107, 77, 87, 1);
    padding: 0px;
}

a.otherlinks:hover {
    background-color: rgba(137, 106, 103, 80%);
    border: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 0px;
    color: white;
    
}

/* HOMEPAGE, ABOUT ME AND CONTACT ME GRID CONTAINER */

.item1 { 
    grid-area: header;
    background-color: #6b4d57ff;
/*    grid-column-gap: none;*/
/*    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;*/
    
}

.item2 {
    grid-area: nav;
    background-color: #6b4d57ff;
/*    grid-gap: none;*/
/*    grid-column-gap: none;*/
/*    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;*/
}

.item3 {
    grid-area: title;
    text-align: center;
    margin: 0;
}
.item4 { grid-area: main; }
.item5 { 
    grid-area: right;
    padding-left: 40px;
}
.item6 {
    grid-area: footer;
    background-color: #6b4d57ff;
    height: 1.25in;
}

.item7 {
    grid-area: form;
    text-align: center;
/*    background-color: #6b4d57ff;*/
    
}

.home-grid-container {
    display: grid;
    grid-template-areas:
    'header header header nav nav nav'
    'title title title title title title'
    'main main main right right right'
    'form form form form form form'
    'footer footer footer footer footer footer';
/*    grid-gap: 10px;*/
    grid-row-gap: 3px;
/*    padding: 10px;*/
    width: 1080px;
    margin: auto;
}

.home-grid-container > div {
/*    text-align: center;*/
    padding: 0px 0px 10px 10px;
}

h1.header_heading {
    font-size: 35px;
    margin-left: 20px;
}

h2.header_subheading {
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    margin-left: 25px;
}

.nav-flex-container  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 65px;
    padding-right: 70px;
    font-family: 'Hind', sans-serif;
    
}

img.home    {
    border-style: groove;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* FORM DECLARATIONS */
form {
  margin: auto;
  width:100%;
  padding-bottom: 20px;
  border-radius: 1em;
  font-family: 'Hind', sans-serif;
  text-align: center;
}

input.profile {
  padding: 5px;
/*  padding-right: 50px;*/
  margin: 10px;
  border-radius: 5px;
/*  background-color: rgba(60, 188, 141, .50);*/
  width: 30%;
}

fieldset {
/*  padding: 20px;*/
  margin: 10px;
  background-color: #ddc8c4ff;
  border-radius: 5px;
  color: white;
}

legend {
   font-weight: bold;
   font-size: 24px;
   color: #702631;
}

input[type=submit] {
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(137, 106, 103, 85%);
  font-size: 18px;
  color: white;
}

input[type=reset] {
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(19, 7, 12, 85%);
  font-size: 18px;
  color: white;
}

.buttons {
  position: relative;
  text-align: center;
}

label {
    color: #13070cff;
}

textarea {
    text-align: left;
}

/*MEDIA QUERY FOR SMARTPHONES*/
@media screen and (max-width: 600px) {
    .home-grid-container {
        display: grid;
        grid-template-areas:
        'header'
        'nav'
        'title'
        'main'
        'right'
        'form'
        'footer';
        width: auto;
    }
    .nav-flex-container  {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        padding: 10px;
        font-family: 'Hind', sans-serif;
}
    input.profile {
      width: 100%;
      margin: auto;
}
    
    textarea {
       max-width: 65%;
    }

fieldset {
    max-width: auto;
}
    .item4 {
        margin: auto;
        
    }
    
    img.responsive {
        width: 300px;
        height: 444px;
    }
}





