/* Color Theme Swatches in Hex
.Great-Escape-Color-Scheme-1-hex { color: #613109; }
.Great-Escape-Color-Scheme-2-hex { color: #E6BE71; }
.Great-Escape-Color-Scheme-3-hex { color: #E0A020; }
.Great-Escape-Color-Scheme-4-hex { color: #1F150C; }
.Great-Escape-Color-Scheme-5-hex { color: #AD6B1A; }
 */

/* Color Theme Swatches in RGBA
.Great-Escape-Color-Scheme-1-rgba { color: rgba(97, 49, 9, 1); }
.Great-Escape-Color-Scheme-2-rgba { color: rgba(230, 190, 113, 1); }
.Great-Escape-Color-Scheme-3-rgba { color: rgba(224, 160, 32, 1); }
.Great-Escape-Color-Scheme-4-rgba { color: rgba(31, 21, 12, 1); }
.Great-Escape-Color-Scheme-5-rgba { color: rgba(173, 107, 26, 1); }
 */
/* Color Theme Swatches in HSLA
.Great-Escape-Color-Scheme-1-hsla { color: hsla(27, 83, 20, 1); }
.Great-Escape-Color-Scheme-2-hsla { color: hsla(39, 70, 67, 1); }
.Great-Escape-Color-Scheme-3-hsla { color: hsla(40, 75, 50, 1); }
.Great-Escape-Color-Scheme-4-hsla { color: hsla(28, 44, 8, 1); }
.Great-Escape-Color-Scheme-5-hsla { color: hsla(33, 73, 39, 1); }
 */
/* Font families */
/*font-family: 'Archivo', sans-serif;
font-family: 'Arvo', serif;*/


body    {
    background-color: #1F150C;
    font-family: 'Archivo', sans-serif;
    font-size: 18pt;
}

h1  {
    font-family: 'Arvo', serif;
    font-size: 40pt;
}

h2  {
    font-family: 'Arvo', serif;
    font-size: 36pt;
    color: #E0A020;
    margin: 10px;
    text-align: center;
}

h3  {
    font-family: 'Arvo', serif;
    font-size: 32pt;
    color: #1F150C;
    text-align: center;
    margin: auto;
}

h4  {
    font-family: 'Archivo', sans-serif;
    font-size: 24pt;
    text-align: center;
    margin: auto;
}

h5  {
    font-family: 'Archivo', sans-serif;
    font-size: 20pt;
    color: #E6BE71;
    margin: 10px;
}

p   {
    font-family: 'Archivo', sans-serif;
    margin: 5px;
}

p.left-align    {
    text-align: left;
}

p.smaller-text{
    font-size: 16pt;
}

footer  {
    font-family: 'Archivo', sans-serif;
    color: #E6BE71;
    align-content: center;
}

.yellow-color   {
    color: #E6BE71;
}

.darkbrown-color    {
    color: #1F150C;
}

/* FORM DECLARATIONS */
form {
      margin: auto;
      width:75%;
      padding-bottom: 20px;
      border-radius: 1em;
      font-family: 'Archivo', sans-serif;
      text-align: center;
}

input.profile {
      padding: 5px;
      margin: 10px;
      border-radius: 5px;
      width: 30%;
}

fieldset {
    border: 3px solid #E6BE71;
    border-radius: 5px;
    margin: auto;
    font-size: 20pt;
    display: inline;
    vertical-align: middle;
    width: inherit;
}

legend {
   font-family: 'Archivo', sans-serif;
   font-size: 24pt;
   color: #E6BE71;
   padding: 20px;
}

input[type=submit] {
    background-color: #E0A020;
    color: #1F150C;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin: 10px 0 10px 0;
    font-size: 18pt;
}

input[type=submit]:hover    {
    background-color: #1F150C;
    border: 3px solid #E0A020;
    color: #E0A020;
}

input[type=reset] {
    background-color: #E0A020;
    color: #1F150C;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin: 10px 0 10px 10px;
    font-size: 18pt;
}

input[type=reset]:hover {
    background-color: #1F150C;
    border: 3px solid #E0A020;
    color: #E0A020;
    
}

.form-buttons {
  position: relative;
  text-align: center;
}

label {
    color: #AD6B1A;
    margin-right: 3px;
    display: block;
}

textarea {
    text-align: left;
}

select, input   {
    margin: 0 5px 0 5px;
    padding: 8px;
}

img.border-responsive {
    border: 8px solid #AD6B1A;
    width: 50%;
    height: 50%;
    margin: 10px 0 10px 0;
}

img.border  {
    border: 8px solid #AD6B1A;
    width: 75%;
    height: auto;
}
img.private-rooms  {
    border: 8px solid #AD6B1A;
    width: 210px;
    height: 210px;
    margin-bottom: 20px;
    vertical-align: top;
}

img.private-rooms:hover {
    box-shadow: 10px 10px rgba(31, 21, 12, 75%);
}


ul.list-style-centered  {
    text-align: left;
    padding: 0;
    display: inline-block;
}


ul.list-style-none  {
    list-style: none;
    text-align: left;
    padding: 0;
    display: inline-block;
}


/*Declarations for TOP social media flex container*/

.top-social-media-flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row-reverse; 
}

.top-social-media-flex-container > div {
    padding: 10px;
    
}

/*Declarations for BOTTOM social media flex container*/

.bottom-social-media-flex-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.bottom-social-media-flex-container > div {
    padding: 10px;
    
}

/*Declarations for menu header grid container*/

.header-grid-container {
    display: grid;
    grid-template-areas: 'logo logo logo logo newsflash rooms faqs findus signin booknow';
    grid-gap: 5px;
    background-color: #613109;
    height: 65px;
    font-family: 'Arvo', serif;
    padding: 20px;
    font-size: 1.75vw;
}

.header-grid-container > div    {
    color: #E6BE71;
}

.header-item1  {
    grid-area: logo;
}

.header-item2  {
    grid-area: newsflash;
    padding: 20px 5px 20px 5px;
    text-align: center;
}

.header-item3  {
    grid-area: rooms;
    padding: 20px 5px 20px 5px;
    text-align: center;
}

.header-item4  {
    grid-area: faqs;
    padding: 20px 5px 20px 5px;
    text-align: center;
}

.header-item5  {
    grid-area: findus;
    padding: 20px 5px 20px 5px;
    text-align: center;
}

.header-item6  {
    grid-area: signin;
    padding: 20px 5px 20px 5px;
    text-align: center;
}

.header-item7  {
    grid-area: booknow;
    padding: 15px 0px 15px 0px;
    margin: 5px 10px 5px 10px;
    background-color: #1F150C;
    box-sizing: inherit;
    border-radius: 10px;
    text-align: center;
}

/*Declarations for dropdown menu*/
.dropdown {
    position: relative;
    display: inline-block;
    align-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E6BE71;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20pt;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*declarations for submenu dropdown list to appear right*/

.submenu-dropdown {
    position: relative;
    display: inline-block;
}

.submenu-dropdown-content {
    display: none;
    position:absolute;
    background-color: #E6BE71;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.submenu-dropdown:hover .submenu-dropdown-content {display:inline-block;}

/* declarations for page content grid container to be used for all pages */

.page-content-grid-container    {
    display: grid;
    grid-template-areas:
        'title title title title'
        'content1 content1 content1 content1'
        'content2 content2 content2 content2'
        'content3 content3 content3 content3'
        'content4 content4 content4 content4';
    text-align: center;
    grid-row-gap: 10px;
}

.page-content-grid-container > div {
    padding: 20px;
}

.page-content-title {
    grid-area: title;
}
.page-content1 {
    grid-area: content1;
    background-color: rgba(173, 107, 26, 50%);
    border: 5px solid rgba(230, 190, 113, 1);
    text-align: center;
    margin-bottom: 20px;
}
.page-content2 {
    grid-area: content2;
    border: 5px solid rgba(230, 190, 113, 1);
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;

}
.page-content3 {
    grid-area: content3;
    border: 5px solid rgba(230, 190, 113, 1);
    text-align: center;
}

.page-content4  {
    grid-area: content4;
    background-color:#AD6B1A;
}



/*Declarations for website links*/

a   {
    text-decoration: none !important;
    color: #E6BE71;
    padding: 4px 8px 4px 8px;

}

a.dark-color    {
    text-decoration: none !important;
    color: #1F150C;
    padding: 4px 8px 4px 8px;
    
}

a:hover {
    visibility: visible;
}

a.shadow-links:hover {
    background-color: rgba(230, 190, 113, 25%);
/*    border: 2px solid rgba(106, 77, 87);*/
    box-shadow: 5px 5px rgba(31, 21, 12, 75%);
    color: #1F150C;
    border-radius: 6px;
    
}

/*Declarations for social media icon links and other links that do not need a shadow box - DARK TEXT*/

a.underline-links-darktext    {
        text-decoration: none !important;
        color: #1F150C;
}

a.underline-links-darktext:hover {
/*    background-color: none;
*/    box-shadow: none;
/*    color: none;
*/    border-bottom: 5px solid rgba(173, 107, 26, 1);
    padding-top: 25px;
}

/*Declarations for social media icon links and other links that do not need a shadow box - LIGHT TEXT*/

a.underline-links-lighttext    {
        text-decoration: none !important;
        color: #E6BE71;
}

a.underline-links-lighttext:hover {
/*    background-color: none;
*/    
    box-shadow: none;
/*    color: none;
*/
    border-bottom: 5px solid rgba(173, 107, 26, 1);
    padding-top: 25px;
}


/*Declarations for page grid container */

.page-grid-container    {
    display: grid;
    grid-template-areas:
    'social social social social'
    'header header header header'
    'content content content content'
    'footer footer footer footer';
    grid-row-gap: 0;
/*    width: 1080px;*/
    margin: auto;
}

.page-grid-container > div {
    padding: 10px;
}

.page-item-1    {
    grid-area: social;
}

.page-item-2    {
    grid-area: header;
    height: inherit;
    width: inherit;
/*    padding-bottom: 20px;
*/}

.page-item-3    {
    grid-area: content;
}

.page-item-4    {
    grid-area: footer;
    text-align: center;
}

/*Declarations for contact flex container - part of the footer*/

.contactus-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    background-color: #E6BE71;
}

.contactus-flex-container > div {
    padding: 10px;
    text-align: center;
    font-size: 20pt;
    
}

/*Declarations for Homepage top image*/

.homepage-top-container   {
    position: relative;
    text-align: center;
}

.top-feature-image  {
    width: 50%;
}

.homepage-top-text  {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(230, 190, 113, 25%);
    font-family: 'Arvo', serif;
    font-size: 3vw;
    color: #1F150C; 
    width: 50%
}

.homepage-button {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E0A020;
    color: #1F150C;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    
}

.homepage-button:hover  {
    box-shadow: 6px 6px rgba(230, 190, 113, 50%);
}

.sitewide-button    {
    position: absolute;
    background-color: #E0A020;
    color: #1F150C;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin: 10px 0 10px 0;
    
}

.sitewide-button:hover  {
    box-shadow: 6px 6px rgba(230, 190, 113, 50%);
}

.private-page-button {
    position: relative;
    background-color: #E0A020;
    color: #1F150C;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 200px;
    
}

.private-page-button:hover  {
    box-shadow: 6px 6px rgba(230, 190, 113, 50%);
}


/*Declarations for float images - side by side on homepage - Rooms*/

.picture-column {
    float: left;
    width: 49%;
    margin: 20px 0 20px 0;
    position: relative;
    justify-content: space-between;
    justify-items: center;
}

.picture-row::after {
    content: "";
    clear: both;
    display: table;
}


.picture-text  {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(173, 107, 26, 75%);
    font-family: 'Archivo', sans-serif;
    font-size: 5vw;
    color: #1F150C; 
    width: 50%;
    padding: 5px;
    border-radius: 8px;
}

.picture-text:hover {
    background-color: rgba(97, 49, 9, 75%);
    color: #E0A020;    
}

/*Declarations for flexbox container to fit in content3 of homepage*/
.content3-flex-container {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: auto;
    color: #E6BE71;
}

.content3-flex-container > div {
    margin: auto;
    width: 50%;
    position: relative;
    text-align: center;
    align-content: center;
    padding: 10px;
}

.content3-button {
    transform: translate(-50%, -50%);
    background-color: #E0A020;
    color: #1F150C;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    margin: 10px;   
}

.content3-button:hover {
    background-color: #1F150C;
    color: #E0A020;
    border: 2px solid #E0A020;
}

.narrow-page-width    {
    width: 75%;
    margin: auto;
}

/* Declarations for container that displays picture to the left and text to the right to be used sitewide - created specifically for events page */

.picture-text-flex-container {
    display: flex;
    flex-direction: row;
    margin: auto;
/*    padding-bottom: 50px;
*//*    flex-wrap: nowrap;
*/
}

.picture-text-flex-container > div {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 18pt;
    padding: 25px 25px 50px 25px;
}



.termsofuse-columns {
    column-count: 2;
    column-gap: 20px;
    width: auto;
    text-align: justify;
    font-size: 1vw;
}

.text-over-picture {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(97, 49, 9, 50%);
    font-family: 'Arvo', serif;
    font-size: 2vw;
    color: #1F150C; 
    width: auto;
}

.private-rooms-grid-container   {
    display: grid;
    grid-template-columns: 250px 250px 250px;
   /* grid-template-areas: 'auto auto auto';*/
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    padding: 10px 0 10px 0;
    text-align: center;
    margin: auto;
    justify-content: center;
   
}

.private-rooms-grid-container > div {
    text-align: center;
    margin: auto;
    vertical-align: top;
}

iframe  {
    border: 4px solid #1F150C;
    margin: 20px;
}

/* Declarations for responsive TABLET */


@media screen and (max-width: 1007px)    {
    
.page-grid-container    {
    display: grid;
    grid-template-areas:
    'social'
    'header'
    'content'
    'footer';
    grid-row-gap: 3px;
    width: auto;
    height: auto;
    }
    
.top-social-media-flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row-reverse;
    justify-content: center;
}
    
.header-grid-container {
    display: grid;
    grid-template-areas: 
        'logo logo logo logo logo'
        'newsflash rooms faqs findus signin'
        'booknow booknow booknow booknow booknow';
    width: auto;
    height: auto;
    text-align: center;
}
    
.picture-text  {
    font-size: 3vw;
    color: #1F150C; 
    width: 50%;
    margin: auto;
    border-radius: 8px;
}
    
.header-item7  {
    padding: 20px 30px 20px 30px;
    margin: auto;
    background-color: #1F150C;
    box-sizing: inherit;
    border-radius: 10px;
    text-align: center;
    height: 20px;
    width:150px;
    align-content: center;
    font-size: 16pt;
}
    
.picture-text-flex-container > div {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 18pt;
    padding-bottom: 50px;
}
    
.sitewide-button    {
    margin: 20px 0 20px 0;
    
}

input.profile {
      width: 50%;
}
    
iframe  {
    width: inherit;
    height: inherit;
}

textarea {
    width: inherit;
}
    
.private-rooms-grid-container   {
    grid-template-columns: auto auto;
 
}
    
.private-rooms-grid-container > div {
        font-size: 12pt;
    }

img.private-rooms  {
    width: 190px;
    height: 190px;
}

}
/* Declarations for responsive MOBILE */
    
@media screen and (max-width: 640px)    {
    
.contactus-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: #E6BE71;
    } 
    
.content3-flex-container {
    width: 100%;
}

input.profile {
      width: 75%;
}

.dropdown-content {
    font-size: 16pt;
}

.header-grid-container {
    font-size: 2.5vw;
}

img.private-rooms  {
    width: 150px;
    height: 150px;
}


}